header{
    background-color: $color1;
    nav{
        div{
            .titulo{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: center;
                text-decoration: none;
                .logo{
                    width: 70px;
                    height: 70px;
                }
                h2{
                    font-weight: bold;
                    color: $color3;
                    font-size: 10px;
                }
            }
            .barra{
                flex-grow: 0;
                a:hover{
                    color: $color4;
                    background-color: $color2;
                    border: 0 10px solid $color2;
                    box-shadow: 0 0  8px $color2;
                    border-radius: 50px;
                    transition: 1s ease-out;
                }
                ul{
                    li{
                        .link{
                            color: $color3 !important;
                            text-transform: uppercase;
                            }
                        }
                    }
                }
            }
        }
    }

